* {
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}

header {
	display: flex;
	background: #42aaff;
	padding: 5px 5% 5px 5%;
	align-items: center;
	color: white;
}

header img {
	width: 5%;
	height: 5%;
	margin-right: 5%;
}

header div p {
	font-size: 20px;
	font-weight: 900;
}

main {
	background: #ededed;
	min-height: 100vh;
	padding: 20px 10% 100px 10%;
}


table {
	border-collapse: collapse;
	margin-bottom: 20px;
}

td, th {
	padding: 10px; 
    border: 1px solid black; 
    width: 30px;
    text-align: center;
    cursor: pointer;
    height: 30px;
}

td:hover {
	background: black;
	color: white;
}

footer {
	background: #42aaff;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 5px 0 5px 0;
	color: white;
}


