* {
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}

a {
	text-decoration: none;
	color: white;
}

header {
	background: #013220;
	color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.selected_menu {
	font-weight: 900;
	color: yellow;
}

header ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	width: 30%;
}

header li:hover {
	border-bottom: 2px solid white;
}

header p {
	font-size: 30px;
}

#main div {
	padding-top: 200px;
	color: white;
	text-align: center;
	padding-bottom: 200px;
}

#main h1 {
	font-size: 70px;
	margin: 0;
	padding: 0;
}

#main p {
	font-size: 40px;
}

#text {
	margin-bottom: 100px;
}

.article {
	width: 60%;
	margin-left: 10%;
	background: #ededed;
	padding: 2%;
	margin-top: 30px;
}

.article img {
	width: 70%;
	margin: 2px 0 2px 0;
}

.fab {
	font-size: 30px;
	margin-right: 10px;
	margin-top: 10px;
}

#text th {
	border: 1px solid black;
	margin: 0 !important;
	font-size: 20px;
}

footer {
	background: #808080;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #e6e6e6;
	padding: 5px 5px 5px 30px;
}

#map {
	background: url(img/map.jpg) no-repeat center top / cover;
	padding-top: 150px;
	padding-bottom: 150px;
	text-align: center;
}

#map h1, #russia h1 {
	font-size: 60px;
}

#map p, #russia p {
	font-size: 30px;
}

#russia {
	background: url(img/russia.jpg) no-repeat center top / cover;
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: center;
	color: white;
}

#contacts {
	margin-bottom: 120px;
	margin-top: -50px;
}

#contacts h2 {
	text-align: center;
	margin-bottom: 30px;
}

#contacts table {
	width: 50%;
	margin-left: 25%;
	text-align: left;
}

#map_items h2 {
	text-align: center;
	margin-top: 40px;
}

#map_items div {
	display: flex;
	padding-left: 10%;
	padding-right: 10%;
	margin-bottom: 100px;
}

#map_items table {
	width: 65%;
	margin-right: 5%;
}

#map_items img {
	width: 30%;
	height: 100%;
}











