* {
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}

header {
	display: flex;
	background: #42aaff;
	padding: 5px 5% 5px 5%;
	align-items: center;
	color: white;
}

header img {
	width: 5%;
	height: 5%;
	margin-right: 5%;
}

header div p {
	font-size: 20px;
	font-weight: 900;
}

main {
	background: #ededed;
	padding: 20px 10% 100px 10%;
	height: 100%;
	min-height: 100vh;
}

footer {
	background: #42aaff;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 5px 0 5px 0;
	color: white;
}

.item {
	border: 2px solid red;
	display: inline-block;
	margin-right: 8px;
	margin-bottom: 5px;
	padding: 3px;
}


