* {
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}

header {
	display: flex;
	background: #42aaff;
	padding: 5px 5% 5px 5%;
	align-items: center;
	color: white;
}

header img {
	width: 5%;
	height: 5%;
	margin-right: 5%;
}

header div p {
	font-size: 20px;
	font-weight: 900;
}

main {
	background: #ededed;
	min-height: 100vh;
}

footer {
	background: #42aaff;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 5px 0 5px 0;
	color: white;
}

a {
	text-decoration: none;
}

main .main {
	padding-left: 40%;
	padding-top: 100px;
}

.result {
	border: 1px solid black;
	width: 245px;
	height: 40px;
	background: white;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 4px;
	font-size: 25px;
	vertical-align: middle;
	max-width: 245px;
}

.number {
	border-radius: 4px;
	border: 1px solid black;
	background: lightgrey;
	color: black;
	font-size: 30px;
	margin-right: 5px;
	margin-bottom: 5px;
	height: 45px;
	width: 45px;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	box-sizing: border-box;
}

.exit {
	border-radius: 4px;
	border: 1px solid black;
	background: lightgrey;
	color: black;
	font-size: 30px;
	margin-right: 5px;
	margin-bottom: 5px;
	height: 45px;
	width: 245px;
	text-align: center;
	vertical-align: middle;
	display: block;
	box-sizing: border-box;
	margin-top: 10px;
}




