* {
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}

header {
	display: flex;
	background: #42aaff;
	padding: 5px 5% 5px 5%;
	align-items: center;
	color: white;
}

header img {
	width: 5%;
	height: 5%;
	margin-right: 5%;
}

header div p {
	font-size: 20px;
	font-weight: 900;
}

main {
	background: #ededed;
	min-height: 100vh;
	padding: 20px 10% 100px 10%;
}

footer {
	background: #42aaff;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	padding: 5px 0 5px 0;
	color: white;
}

fieldset {
	padding: 5%;
	border-radius: 20px;
}

#if_js {
	display: none;
}

input {
	display: inline-block;
}

.email_answ {
	display: inline-block;
}

main {
	font-size: 20px;
}

input[type="submit"], .b {
	background: #42aaff;
	display: block;
	padding: 5px;
	font-size: 20px;
	border: 2px solid #42aaff;
	width: 15%;
	text-align: center;
	border-radius: 30px;
	color: white;
	margin-top: 2%;
	cursor: pointer;
}

input[type="submit"]:hover, .b:hover {
	background: transparent;
	border: 2px solid #42aaff;
	color: #42aaff;
	text-decoration: none;
}

legend {
	font-size: 25px;
	font-weight: 900;
	cursor: pointer;
}

legend:hover {
	text-decoration: underline;
}

input {
	padding: 5px;
}

label:hover {
	text-decoration: underline;
}

textarea {
	width: 15%;
	height: 100%;
	vertical-align: middle;
}




